<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Mathcam - Admin</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="all,follow">
<!-- Bootstrap CSS-->
<link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
<!-- Font Awesome CSS-->
<script src="https://kit.fontawesome.com/d292ebf681.js"></script>
<!-- Google fonts - Open Sans-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800">
<!-- rsalert -->
<link rel="stylesheet" href="vendor/rsalert/rsalert.min.css" />
<!-- Favicon-->
<link rel="shortcut icon" href="favicon.svg">
