<!-- Avantages -->
<section id="extra-features" class="extra-features bg-primary">
  <div class="container text-center">
    <h2 class="text-uppercase">Advantages</h2>
    <div class="grid row">
      <div class="item col-lg-4 col-md-6">
        <div class="icon mx-auto"> <i class="fas fa-clipboard-check"></i></div>
        <h3 class="h5">Reliable</h3>
        <p>More and more tutors are confirming the effectiveness of distance learning, and most of those who have tried were thrilled and kept going!</p>
      </div>
      <div class="item col-lg-4 col-md-6">
        <div class="icon mx-auto"> <i class="fas fa-clock"></i></div>
        <h3 class="h5">Flexible hours</h3>
        <p>Choose the times that suit you on the online reservation application, then have the option to postpone or cancel a course up to 24 hours before.</p>
      </div>
      <div class="item col-lg-4 col-md-6">
        <div class="icon mx-auto"> <i class="fa fa-umbrella-beach"></i></div>
        <h3 class="h5">Flexible location</h3>
        <p>Learn wherever you want, at home, with a family member, while traveling, or even on the beach!</p>
      </div>
      <div class="item col-lg-4 col-md-6">
        <div class="icon mx-auto"> <i class="fa fa-rocket"></i></div>
        <h3 class="h5">Fast</h3>
        <p>Do not wait long to get help, a lesson can be booked today and without additional cost.</p>
      </div>
      <div class="item col-lg-4 col-md-6">
        <div class="icon mx-auto"> <img src="img/switzerland.svg" alt="switzerland" width="70" height="70" loading="lazy"></div>
        <h3 class="h5">Swiss</h3>
        <p>Born in Lausanne (in the French part of Switzerland), Mathcam is a distance learning company founded during the back-to-school season of 2019 (before the period of the coronavirus).</p>
      </div>
      <div class="item col-lg-4 col-md-6">
        <div class="icon mx-auto"> <i class="fas fa-smile"></i></div>
        <h3 class="h5">1<sup>st</sup> lesson free</h3>
        <p>I offer you the opportunity to test my services thanks to a free and without obligation lesson.</p>
      </div>
    </div>
  </div>
</section>