<!-- Avantages -->
<section id="extra-features" class="extra-features bg-primary">
  <div class="container text-center">
    <h2 class="text-uppercase">Avantages</h2>
    <div class="grid row">
      <div class="item col-lg-4 col-md-6">
        <div class="icon mx-auto"> <i class="fas fa-clipboard-check"></i></div>
        <h3 class="h5">Fiable</h3>
        <p>De plus en plus d'enseignants confirment l'efficacité des cours à distance, et la plupart de ceux qui ont essayé ont été ravis et ont continué !</p>
      </div>
      <div class="item col-lg-4 col-md-6">
        <div class="icon mx-auto"> <i class="fas fa-clock"></i></div>
        <h3 class="h5">Horaire flexible</h3>
        <p>Choisissez les horaires qui vous conviennent sur l'application de réservation en ligne, puis ayez la possibilité de reporter ou un annuler un cours jusqu'à 24h avant.</p>
      </div>
      <div class="item col-lg-4 col-md-6">
        <div class="icon mx-auto"> <i class="fa fa-umbrella-beach"></i></div>
        <h3 class="h5">Lieu flexible</h3>
        <p>Apprenez où voulez, à la maison, chez un membre de votre famille, en voyage, ou même au bord de plage !</p>
      </div>
      <div class="item col-lg-4 col-md-6">
        <div class="icon mx-auto"> <i class="fa fa-rocket"></i></div>
        <h3 class="h5">Rapide</h3>
        <p>N'attendez pas longtemps avant d'obtenir de l'aide, un cours peut être réservé dans la journée et sans frais supplémentaires.</p>
      </div>
      <div class="item col-lg-4 col-md-6">
        <div class="icon mx-auto"> <img style="height: 70px;" src="img/switzerland.svg" alt="switzerland"></div>
        <h3 class="h5">Suisse</h3>
        <p>Née à Lausanne, Mathcam est l'une des premières entreprises de formation à distance en Suisse romande.</p>
      </div>
      <div class="item col-lg-4 col-md-6">
        <div class="icon mx-auto"> <i class="fas fa-smile"></i></div>
        <h3 class="h5">1<sup>er</sup> cours gratuit</h3>
        <p>Je vous offre la possibilité de tester mes services grâce à un cours gratuit et sans engagement.</p>
      </div>
    </div>
  </div>
</section>