<section>
  <div class="container">
    <h2 class="text-center text-uppercase mb-5">{{ "Quelques livres de référence" if lang == "fr" else "Main books" }}</h2>
    <div class="row justify-content-center">
      <figure class="figure col-12 col-md-6 col-lg-4 col-xl-3">
        <img class="img-fluid figure-img d-block mx-auto" src="img/books/eureka_9S.jpg" alt="Livre Eureka 9S (DGEO)">
        <figcaption class="figure-caption text-center">Eureka 9-11S</figcaption>
      </figure>
      <figure class="figure col-12 col-md-6 col-lg-4 col-xl-3">
        <img class="img-fluid figure-img d-block mx-auto" src="img/books/aide-memoire.jpg" alt="Livre Mathématiques 9-10-11 Aide-mémoire (Editions LEP)">
        <figcaption class="figure-caption text-center">Mathématiques 9-10-11</figcaption>
      </figure>
      <figure class="figure col-12 col-md-6 col-lg-4 col-xl-3">
        <img class="img-fluid figure-img d-block mx-auto" src="img/books/formulaire-orange.jpg" alt="Livre Formulaires et Tables (CRM)">
        <figcaption class="figure-caption text-center">Formulaires et Tables</figcaption>
      </figure>
      <figure class="figure col-12 col-md-6 col-lg-4 col-xl-3">
        <img class="img-fluid figure-img d-block mx-auto" src="img/books/physique-chimie.jpg" alt="Livre Physique-Chimie Volume 1 (Editions LEP)">
        <figcaption class="figure-caption text-center">Physique-Chimie</figcaption>
      </figure>
    </div>
  </div>
</section>
