<div id="scrollTop">
  <div class="d-flex align-items-center justify-content-end"><svg class="icon-icomoon"><use xlink:href="img/symbol-defs.svg#icon-arrow-up"></use></svg>{{ "En haut" if lang == 'fr' else "To top" }}</div>
</div>

<footer class="main-footer bg-gray">
  <!-- Contact -->
  <section id="contact-us">
    <div class="container">
      {% if lang == 'fr' %}
        <h2 class="text-center text-uppercase font-weight-bold">1<sup>er</sup> cours gratuit et sans engagement !</h2>
      {% else %}
        <h2 class="text-center text-uppercase font-weight-bold">1<sup>st</sup> lesson free and without obligation!</h2>
      {% endif %}
      <p class="text-center">
        {{ "... puis au tarif ci-dessous pour chaque période de cours. Une période dure 50 min avec jusqu'à 10 min offertes non garanties. Concernant les tarifs des cours en groupe, merci de me contacter." if lang == 'fr' else "... then at the price below for each lesson period. A period lasts 50 min with up to 10 min offered not guaranteed. Regarding the prices of group lessons, please contact me." }}
      </p>

      {% if inter %}
        {% include 'partials/price.j2' %}
      {% else %}
        {% if country == 'ch' %}
          <p class="font-weight-bold text-center">{{ "Tarif : 35.00 CHF / période" if lang == 'fr' else "Price: 35.00 CHF / period" }}</p>
        {% elif country == 'fr' %}
          <p class="font-weight-bold text-center">{{ "Tarif : 35.00 EUR / période" if lang == 'fr' else "Price: 35.00 EUR / period" }}</p>
        {% endif %}
      {% endif %}
      
      {% if available %}
      <h2 class="text-center mt-5 mb-2">{{ "Contactez-moi !" if lang == 'fr' else "Contact me!" }}</h2>
      {% endif %}
      <div class="col-12 px-auto text-center">
        <ul class="contact-info list-unstyled">
          {% if available %}
          <li><svg class="icon-icomoon"><use xlink:href="img/symbol-defs.svg#icon-phone"></use></svg> <a class="text-primary" href="tel:+41799655306">+41 79 965 53 06</a></li>
          <li><svg class="icon-icomoon"><use xlink:href="img/symbol-defs.svg#icon-time"></use></svg> 8h-22h, 7/7</li>
          {% endif %}
          <!-- <li><i class="fa fa-envelope"></i> <a class="text-primary" href="mailto:info@mathcam.ch">info@mathcam.ch</a></li> -->
        </ul>
        {% if available %}
          <div class="row mb-5">
            <div class="col-lg-4 px-1 mb-1">
              <a class="btn btn-primary" href="https://m.me/mathcam.ch" rel="noopener nofollow" target="_blank" style="background-color: #0078FF; border-color: #0078FF;"><svg class="icon-icomoon"><use xlink:href="img/symbol-defs.svg#icon-messenger"></use></svg>{{ " Discuter sur Messenger" if lang == "fr" else " Start chat on Messenger" }}</a>
            </div>

            <div class="col-lg-4 px-1 mb-1">
              <a class="btn btn-primary" href="https://wa.me/message/M6SLEXQHDUSHI1" rel="noopener nofollow" target="_blank" style="background-color: #25d366; border-color: #25d366;"><svg class="icon-icomoon"><use xlink:href="img/symbol-defs.svg#icon-whatsapp"></use></svg>{{ " Discuter sur Whatsapp" if lang == "fr" else " Start chat on Whatsapp" }}</a>
            </div>

            <div class="col-lg-4 px-1 mb-1">
              <a class="btn btn-primary" href="https://t.me/mathcam2019" rel="noopener nofollow" target="_blank" style="background-color: #0088cc; border-color: #0088cc;"><svg class="icon-icomoon"><use xlink:href="img/symbol-defs.svg#icon-telegram"></use></svg>{{ " Discuter sur Telegram" if lang == "fr" else " Start chat on Telegram" }}</a>
            </div>
          </div>
        {% endif %}
      </div>

      <div class="row">
        <div class="col-lg-8 mx-auto">
          {% if available %}
            <h3 class="text-center mb-3">{{ "Recevoir un appel gratuit" if lang == "fr" else "Get a free call" }}</h3>
          {% else %}
            <h3 class="text-center mb-3">{{ "Être notifié de mon retour" if lang == "fr" else "Be notified when I'm back" }}</h3>
          {% endif %}
          <form id="contact-form" method="post" action="https://formspree.io/f/mnqlzqpn">
            <div class="messages"></div>
            <div class="controls">
              <div class="row">
                <div class="col-md-12">
                  <input type="text" name="customer" placeholder="{{ 'Votre nom *' if lang == 'fr' else 'Your name *' }}" required="required" class="form-control">
                </div>
                <div class="col-md-12">
                  <div class="input-group mb-3">
                    {% include 'partials/phone_codes.j2' %}
                    <input type="tel" name="phone" placeholder="{{ 'Votre numéro de mobile *' if lang == 'fr' else 'Your mobile number *' }}" required="required" class="form-control">
                  </div>
                </div>
                <div class="col-md-12">
                  <input type="email" name="email" placeholder="{{ 'Votre email *' if lang == 'fr' else 'Your email *' }}" required="required" class="form-control">
                </div>
                <div class="col-md-12">
                  <textarea name="message" placeholder="{{ 'Éventuelles remarques (facultatif)' if lang == 'fr' else 'Any remarks (optional)' }}" rows="3" class="form-control"></textarea>
                </div>
                <div class="col-md-12 text-center">
                  {% if available %}
                    <button type="submit" class="btn btn-outline-primary">{{ "Recevoir un appel gratuit" if lang == "fr" else "Get a free call" }}</button>
                  {% else %}
                    <button type="submit" class="btn btn-outline-primary">{{ "Être notifié" if lang == "fr" else "Be notified" }}</button>
                  {% endif %}
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <h5>{{ "À propos" if lang == "fr" else "About" }}</h5>
        <p>{{ "Enseignant en ligne indépendant, je propose des cours en ligne de maths, physique et chimie." if lang == "fr" else "Freelance online tutor offering lessons in math, physics and chemistry" }}</p>
      </div>
      
      <div class="col-lg-3 col-md-6">
        <h5>{{ "Liens" if lang == "fr" else "Links" }}</h5>
        <ul class="links list-unstyled">
          <li> <a href="https://meet.jit.si/mathcam.ch" rel="noopener nofollow" target="_blank">{{ "Visio-conférence" if lang == "fr" else "Video-conference" }}</a></li>
          <li> <a href="https://cutt.ly/Bmah0k9" rel="noopener nofollow" target="_blank">{{ "Tableau" if lang == "fr" else "Online whiteboard" }}</a></li>
          <li> <a href="https://mathcam.setmore.com/" rel="noopener nofollow" target="_blank">{{ "Réserver en ligne" if lang == "fr" else "Online booking" }}</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6">
        <h5>Matières</h5>
        <ul class="links list-unstyled">
          <li> <a href="/">Cours à distance</a></li>
          <li> <a href="en.html">Online tutoring</a></li>
          <li> <a href="fr-ch.html">Cours à distance (CH)</a></li>
          <li> <a href="en-ch.html">Online tutoring (CH)</a></li>
          <li> <a href="fr-fr.html">Cours à distance (FR)</a></li>
        </ul>
      </div>

      <div class="col-lg-3"><a href="#" class="brand">Mathcam</a>
        <ul class="d-none d-md-block contact-info list-unstyled">
          {% if available %}
          <li><svg class="icon-icomoon"><use xlink:href="img/symbol-defs.svg#icon-phone"></use></svg> <a class="text-primary" href="tel:+41799655306">+41 79 965 53 06</a></li>
          {% endif %}
          <li><svg class="icon-icomoon"><use xlink:href="img/symbol-defs.svg#icon-time"></use></svg> 8h-22h, 7/7</li>
          <!-- <li><i class="fa fa-envelope"></i> <a class="text-primary" href="mailto:info@mathcam.ch">info@mathcam.ch</a></li> -->
        </ul>
        <p>Authmane Terki<br />
        Allée du Tilleul 8<br />
        1022 Chavannes-près-Renens<br />
        {{ "Suisse" if lang == "fr" else "Switzerland" }}</p>
        <ul class="social-icons list-inline">
          <li class="list-inline-item"><a href="{{ GPAGE }}" rel="noopener nofollow" target="_blank" title="Google"><svg class="icon-icomoon"><use xlink:href="img/symbol-defs.svg#icon-google"></use></svg></a></li>
          <li class="list-inline-item"><a href="https://www.facebook.com/mathcam.ch" rel="noopener nofollow" target="_blank" title="Facebook"><svg class="icon-icomoon"><use xlink:href="img/symbol-defs.svg#icon-facebook"></use></svg></a></li>
          <li class="list-inline-item"><a href="https://www.linkedin.com/in/authmane-terki-full-stack-developer/" rel="noopener nofollow" target="_blank" title="LinkedIn"><svg class="icon-icomoon"><use xlink:href="img/symbol-defs.svg#icon-linkedin-square"></use></svg></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="assoc">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p>2019-2021 Mathcam - {{ "Entreprise suisse dans l'enseignement à distance" if lang == "fr" else "Swiss company in distance learning" }}</p>
        </div>
        <div class="col-md-4 text-right">
          <p><a href="https://github.com/mathcam/mathcam.github.io" rel="noopener nofollow" target="_blank">{{ "Site web open-source" if lang == "fr" else "Open-source website" }}</a></p>
        </div>
      </div>
      <div class="row d-none d-md-block text-center mt-5">
      </div>
    </div>
  </div>
</footer>
<!-- <a href="https://wa.me/message/M6SLEXQHDUSHI1" rel="noopener nofollow" target="_blank" class="floating-icon">
  <i class="fab fa-whatsapp my-float"></i>
</a>
<span class="fa-stack fa-lg">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
</span> -->