<!-- navbar-->
<header class="header">
  <nav class="navbar navbar-expand-lg fixed-top">
    <img src="img/logo.svg" alt="Mathcam's logo" style="height: 50px;" class="float-left">
    <a href="/" class="navbar-brand">Mathcam</a>
    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><span></span><span></span><span></span></button>
    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto align-items-start align-items-lg-center">
          <li class="nav-item"><a href="#levels-list" class="nav-link link-scroll">Services</a></li>
          <li class="nav-item"><a href="#extra-features" class="nav-link link-scroll">Avantages</a></li>
          <li class="nav-item"><a href="#about-us" class="nav-link link-scroll">Qui suis-je</a></li>
          <li class="nav-item"><a href="#testimonials" class="nav-link link-scroll">Témoignages</a></li>
          <li class="nav-item"><a href="/faq" class="nav-link">FAQ</a></li>
          <!-- <li class="nav-item"><a href="/" class="nav-link">Accueil</a></li>
          <li class="nav-item"><a href="/faq" class="nav-link">FAQ</a></li> -->
      </ul>
      <div class="navbar-text">   
        <a href="#contact-us" class="btn btn-primary navbar-btn btn-shadow btn-gradient link-scroll">M'appeler</a>
      </div>

      <div class="dropdown">
        <button class="btn btn-outline-primary dropdown-toggle ml-1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ "Langue" if lang == "fr" else "Language" }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/">Français</a>
          <a class="dropdown-item" href="en.html">English</a>
          <a class="dropdown-item" href="fr-ch.html">Français (CH)</a>
          <a class="dropdown-item" href="en-ch.html">English (CH)</a>
        </div>
      </div>
    </div>
  </nav>
</header>