<div class="bg-primary">
  {% for device, size in [('d-block d-md-none', 'h5 p-1'), ('d-none d-md-block', 'h3 p-1')] %}
    <div class="{{ device }}">
      <p class="text-center text-white {{ size }}">
        {% if available %}
          {{ "1er cours gratuit et sans engagement !" if lang == "fr" else "Free trial lesson!" }}
        {% else %}
          {{ "Malheureusement, je suis actuellement indisponible." if lang == "fr" else "Unfortunately, I am currently unavailable." }}<br />
          <a href="#contact-us" class="text mt-1 link-scroll" style="color: blue;">{{ "Cliquez ici pour être notifié de mon retour." if lang == "fr" else "Click here to be notified when I'm back." }}</a>
        {% endif %}
      </p>
    </div>
  {% endfor %}
</div>

{% if cur_page == 'home' %}
  {% if lang == 'fr' and inter %}
    {% set homepage = '/' %}
    {% set lang_text = 'Français (international)' %}
  {% elif lang == 'en' and inter %}
    {% set homepage = 'en.html' %}
    {% set lang_text = 'English (international)' %}
  {% elif lang == 'fr' and not inter and country == 'ch' %}
    {% set homepage = 'fr-ch.html' %}
    {% set lang_text = 'Français (Suisse)' %}
  {% elif lang == 'fr' and not inter and country == 'fr' %}
    {% set homepage = 'fr-fr.html' %}
    {% set lang_text = 'Français (France)' %}
  {% elif lang == 'en' and not inter %}
    {% set homepage = 'en-ch.html' %}
    {% set lang_text = 'English (Switzerland)' %}
  {% endif %}
{% else %}
  {% if lang == 'fr' %}
    {% set homepage = '/' %}
    {% set lang_text = 'Français (international)' %}
  {% elif lang == 'en' %}
    {% set homepage = 'en.html' %}
    {% set lang_text = 'English (international)' %}
  {% endif %}
{% endif %}



<!-- navbar-->
<header class="header">
  <nav class="navbar navbar-expand-lg fixed-top">
    <img src="favicon.svg" alt="Mathcam's logo" height="50" width="50" class="float-left">
    <a href="{{ homepage }}" class="navbar-brand">Mathcam</a>
    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><span></span><span></span><span></span></button>
    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto align-items-start align-items-lg-center">
          <li class="nav-item"><a href="{{ homepage }}#levels-list" class="nav-link link-scroll">{{ "Branches et niveaux" if lang == "fr" else "Subjects and levels" }}</a></li>
          <li class="nav-item"><a href="{{ homepage }}#about-us" class="nav-link link-scroll">{{ "Qui suis-je" if lang == "fr" else "About me" }}</a></li>
          <li class="nav-item"><a href="{{ homepage }}#testimonials" class="nav-link link-scroll">{{ "Témoignages" if lang == "fr" else "Testimonials" }}</a></li>
          <li class="nav-item"><a href="#contact-us" class="nav-link link-scroll">Contact</a></li>
      </ul>
    </div>
    <div class="dropdown d-none d-lg-block">
      <button class="btn btn-outline-primary dropdown-toggle ml-1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="languageDropdownMenuButton">
        {{ lang_text }}
      </button>
      <div class="dropdown-menu" aria-labelledby="languageDropdownMenuButton">
        {% include 'partials/language_menu.j2' %}
      </div>
    </div>
  </nav>
</header>

<div class="container">
  <div class="row">
    <div class="dropdown d-block d-lg-none mx-auto mb-2">
      <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="languageDropdownMenuButtonMobile">
        {{ lang_text }}
      </button>
      <div class="dropdown-menu" aria-labelledby="languageDropdownMenuButtonMobile">
        {% include 'partials/language_menu.j2' %}
      </div>
    </div>
  </div>
</div>
