<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if noindex %}
  <meta name="robots" content="noindex, nofollow">
{% else %}
  <meta name="robots" content="all,follow">
{% endif %}

<!-- Bootstrap CDN-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- stylesheet -->
<link rel="stylesheet" href="css/style.min.css" id="theme-stylesheet">
<!-- Favicon-->
<link rel="shortcut icon" href="favicon.svg">

<!-- href -->
<link rel="alternate" href="https://mathcam.github.io/{{ page_name }}.html" hreflang="fr-ch" />
{% if cant == None %}
<link rel="alternate" href="https://mathcam.github.io" hreflang="fr" />
<link rel="alternate" href="https://mathcam.github.io/en.html" hreflang="en" />
<link rel="alternate" href="https://mathcam.github.io/en-ch.html" hreflang="en-ch" />
<link rel="alternate" href="https://mathcam.github.io/fr-fr.html" hreflang="fr-fr" />
{% endif %}


<!-- Tweaks for older IEs--><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SVRR3FZECL"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SVRR3FZECL');
</script>
