<!-- illustration -->
<div class="container text-center mb-4">
  {% if inter %}
  <div class="youtube-video-place" data-yt-url="https://www.youtube-nocookie.com/embed/hfQtkPJAtwM">
    <img src="/img/video-thumbnail-345-play2.jpg" width="345" height="194" class="w-100 img-fluid play-youtube-video" alt="mathcam's video thumbnail">
  </div>
  {% endif %}

  <h1 class="h3 font-weight-bold mt-4 mb-3">{{ title }}</h1>
  <h2 class="h5">{{ subtitle }}</h2>
  
  <figure class="figure d-block text-center mt-4">
    {% if inter %}
      <picture>
        <source type="image/webp" srcset="img/tutor_illustration345.webp 345w, img/tutor_illustration960.webp 960w" sizes="90vw">
        <source type="image/jpeg" srcset="img/tutor_illustration345.jpg 345w, img/tutor_illustration960.jpg 960w" sizes="90vw">
        <img src="img/tutor_illustration345.jpg" srcset="img/tutor_illustration345.jpg 345w, img/tutor_illustration960.jpg 960w" sizes="90vw" width="960" height="556" class="img-fluid figure-img" alt="Authmane Terki, enseignant en ligne de maths et physique">
      </picture>
      <figcaption class="figure-caption d-block">Authmane Terki, {{ "enseignant en ligne de maths et physique" if lang == "fr" else "online math and physics tutor" }} </figcaption>
    {% else %}
      <picture>
        <source type="image/webp" srcset="img/dev_illustration650.webp 650w, img/dev_illustration1500.webp 1500w" sizes="90vw">
        <source type="image/jpeg" srcset="img/dev_illustration650.jpg 650w, img/dev_illustration1500.jpg 1500w" sizes="90vw">
        <img src="img/dev_illustration650.jpg" srcset="img/dev_illustration650.jpg 650w, img/dev_illustration1500.jpg 1500w" sizes="90vw" width="1500" height="801" class="img-fluid figure-img" alt="Authmane Terki, ex développeur, enseignant de maths et physique indépendant">
      </picture>
      <figcaption class="figure-caption d-block">Authmane Terki, {{ "enseignant de maths et physique indépendant" if lang == "fr" else "freelance math and physics tutor" }} </figcaption>
    {% endif %}
    
  </figure>
</div> 
