<!-- illustration -->
<div class="container text-center mb-4">
  <div class="youtube-video-place" data-yt-url="https://www.youtube-nocookie.com/embed/hfQtkPJAtwM">
    <img src="/img/video-thumbnail-345-play2.jpg" width="345" height="194" class="w-100 img-fluid play-youtube-video" alt="mathcam's video thumbnail">
  </div>

  <h1 class="h3 font-weight-bold mt-4 mb-3">{{ title }}</h1>
  <h2 class="h5">{{ subtitle }}</h2>
  
  <figure class="figure d-block text-center mt-4">
    <picture>
      <source type="image/webp" srcset="img/illustration_final345.webp 345w, img/illustration_final.webp 960w" sizes="90vw">
      <source type="image/jpeg" srcset="img/illustration_final345.jpg 345w, img/illustration_final.jpeg 960w" sizes="90vw">
      <img src="img/illustration_final345.jpg" srcset="img/illustration_final345.jpg 345w, img/illustration_final.jpeg 960w" sizes="90vw" width="960" height="556" class="img-fluid figure-img" alt="Authmane Terki, enseignant en ligne de maths et physique">
    </picture>
    <figcaption class="figure-caption d-block">Authmane Terki, {{ "enseignant en ligne de maths et physique" if lang == "fr" else "online math and physics tutor" }} </figcaption>
  </figure>
</div> 
