<!-- illustration -->
<div class="container text-center mb-4">
  <!-- <div class="youtube-video-place embed-responsive embed-responsive-16by9" data-yt-url="https://www.youtube-nocookie.com/embed/hfQtkPJAtwM?autoplay=1&mute=1">
    <img src="/img/video-thumbnail-345-play2.jpg" class="img-fluid play-youtube-video">
  </div> -->
  <div class="youtube-video-place" data-yt-url="https://www.youtube-nocookie.com/embed/hfQtkPJAtwM">
    <img src="/img/video-thumbnail-345-play2.jpg" class="img-fluid play-youtube-video">
  </div>

  <!-- <div class="d-block d-md-none mt-4">
    <h1 class="mb-1" style="font-size: 25px;">{{ title }}</h1>
    <h2 class="font-weight-bold" style="font-size: 16px;">{{ subtitle }}</h2>
  </div>
  <div class="d-none d-md-block mt-4">
    <h1 class="mb-3" style="font-size: 58px;">{{ title }}</h1>
    <h2 class="font-weight-bold" style="font-size: 26px;">{{ subtitle }}</h2>
  </div> -->
  <h1 class="h3 mt-4 mb-3">{{ title }}</h1>
  <h2 class="h5 font-weight-bold">{{ subtitle }}</h2>
  
  <figure class="figure d-block text-center mt-4">
    <img src="img/illustration_final.jpeg" class="img-fluid figure-img">
    <figcaption class="figure-caption d-block">Authmane Terki, enseignant en ligne de maths et physique</figcaption>
  </figure>
</div> 
