{% for currency, price in [('EUR', '25.00'), ('USD', '30.00'), ('GBP', '22.00'), ('CAD', '35.00'), ('AUD', '40.00')] %}
  <p class="price-text {{ currency.lower() }} font-weight-bold text-center">{{ "Tarif : {} {} / période".format(price, currency) if lang == 'fr' else "Price: {} {} / period".format(price, currency) }}</p>
{% endfor %}

<div class="text-center dropdown mb-2">
  <button class="btn btn-light border dropdown-toggle" type="button" id="currencyDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Currency</button>
  <div class="dropdown-menu" aria-labelledby="currencyDropdownMenuButton">
    <button onclick="selectCurrency('eur');" class="dropdown-item" type="button">EUR</button>
    <button onclick="selectCurrency('usd');" class="dropdown-item" type="button">USD</button>
    <button onclick="selectCurrency('gbp');" class="dropdown-item" type="button">GBP</button>
    <button onclick="selectCurrency('cad');" class="dropdown-item" type="button">CAD</button>
    <button onclick="selectCurrency('aud');" class="dropdown-item" type="button">AUD</button>
  </div>
</div>
