<div class="wrapper">
  <form class="form-inline">
    <label class="sr-only" for="inlineFormInputGroup">Amount</label>
    <div class="btn-group mb-2 mr-sm-2 mb-sm-0">
      <div class="btn btn-outline-primary currency-symbol">€</div>
      <input type="text" class="form-control currency-amount" id="inlineFormInputGroup" placeholder="25.00" size="8">
      <div class="btn btn-outline-primary currency-addon">

        <select class="currency-selector">
          <option data-symbol="€" data-placeholder="25.00" selected>EUR</option>
          <option data-symbol="$" data-placeholder="30.00">USD</option>
          <option data-symbol="£" data-placeholder="22.00">GBP</option>
          <option data-symbol="$" data-placeholder="35.00">CAD</option>
          <option data-symbol="$" data-placeholder="40.00">AUD</option>
          <option data-symbol=" " data-placeholder="35.00">CHF</option>
        </select>

      </div>
    </div>
  </form>
</div>
