<!-- testimonials -->
<section id="testimonials" class="testimonials">
  <div class="container-fluid">
    <header class="no-margin-bottom">
      <div class="text-center">
        <h2 class="text-uppercase">{{ "Témoignages" if lang == "fr" else "Testimonials" }}</h2>
      </div>
    </header>
    <div class="row">
      {% for t in testimonials %}
        <div class="item-holder col-lg-4 col-md-6">
          <div class="item">
            <div class="avatar"><img src="img/avatars/{{ t.avatar }}" alt="..." class="img-fluid"></div>
            <div class="text">
              <div class="quote"><img src="img/quote.svg" alt="..." class="img-fluid"></div>
              <p>{{ t.msg }}</p><strong class="name">{{ t.name }}</strong><br />{{ t.info }}<br />
              {% if t.source == 'spm' %}
                <span class="mt-2 text-secondary">source : <a href="{{ SPM }}" target="_blank">Superprof</a></span>
              {% elif t.source == 'spp' %}
                <span class="mt-2 text-secondary">source : <a href="{{ SPP }}" target="_blank">Superprof</a></span>
              {% elif t.source == 'gg' %}
                <span class="mt-2 text-secondary">source : <a href="{{ GPAGE }}" target="_blank">Google</a></span>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
</section> 
