<!-- testimonials -->
<section id="testimonials">
  <div class="container-fluid">
    <h2 class="text-center text-uppercase">{{ "Témoignages" if lang == "fr" else "Testimonials" }}</h2>
    <figure class="figure mx-auto d-block mt-4">
      <img src="img/superprof-rating.png" alt="note sur Superporf (4,9 étoiles)" width="190" height="252" class="figure-img mx-auto d-block" loading="lazy">
      <figcaption class="figure-caption d-block text-center">{{ "Note sur le site Superprof" if lang == "fr" else "Mark on Superprof website" }}</figcaption>
    </figure>
    <figure class="figure mx-auto d-block">
      <img src="img/google-5-stars.png" alt="note sur Google (5 étoiles)" width="400" height="330" class="figure-img mx-auto d-block mt-1" loading="lazy">
      <figcaption class="figure-caption text-center">{{ "Note sur Google" if lang == "fr" else "Mark on Google" }}</figcaption>
    </figure>
    {% if inter or cant == None %}
      <div id="testimonials2" class="row justify-content-center">
        {% for t in testimonials %}
        <div class="testimonial-box col-sm-11 col-md-9 col-lg-8 col-xl-7">
          <div class="card">
            <p class="post"> <span><svg class="quote-img"><use xlink:href="img/symbol-defs.svg#icon-right-quote-alt"></use></svg></span> <span class="post-txt">{{ t.msg }}</span></p>
          </div>
          <div class="arrow-down"></div>
          <div class="row d-flex justify-content-center">
            <div class=""> <img class="profile-pic fit-image" alt="avatar" src="img/avatars/{{ t.avatar }}" width="80" height="80" loading="lazy"> </div>
            <p class="profile-name">
              {{ t.name }}<br />
              {{ t.info }}<br />
              {% if t.source == 'spm' %}
              <span class="text-secondary">source :</span> <a href="{{ SPM }}" rel="noopener nofollow" target="_blank">Superprof</a>
              {% elif t.source == 'spp' %}
              <span class="text-secondary">source :</span> <a href="{{ SPP }}" rel="noopener nofollow" target="_blank">Superprof</a>
              {% elif t.source == 'gg' %}
              <span class="text-secondary">source :</span> <a href="{{ GPAGE }}" rel="noopener nofollow" target="_blank">Google</a>
              {% endif %}
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
    {% else %}
      <a href="fr-ch.html#testimonials2" class="d-block text-center">Voir les avis</a>
    {% endif %}
  </div>
</section>
