<section>
  <div class="container">
    <h2 class="text-uppercase text-center mb-5">How it works</h2>
    <div class="mx-auto" style="max-width: 500px;">
      <p class="text-justify">
        Online tutoring is possible thanks to an interactive online whiteboard that allows my students to see what I am writing (in addition to my face) in real time. I can put exercises there, the student can send me documents by taking pictures of them, and he can interact with the board. Lessons are personalised and generally individual (one to one). No software needs to be installed.
      </p>
    </div>
  </div>
</section> 
