<section>
  <div class="container">
    <h2 class="text-uppercase text-center mb-5">Fonctionnement</h2>
    <div class="mx-auto" style="max-width: 500px;">
      <p class="text-justify">
        Les cours sont à distance. Cela est possible grâce à un tableau interactif en ligne qui permet à mes élèves de voir ce que j'écris (en plus de mon visage) en temps réel. Je peux y mettre des exercices, l'élève peut m'envoyer des documents en les prenant en photo, et il peut interagir avec le tableau. Les cours sont personnalisés et individuels (de un à un). Aucun logiciel n'a besoin d'être installé.
      </p>
    </div>
  </div>
</section> 
