<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    {% set noindex = True %}
    {% include 'partials/head.j2' %}
    <title>Mathcam - Attestations FSJM</title>
  </head>
  <body>
    {% set home = False %}
    {% include 'partials/header.j2' %}

    <div class="container">
      <img src="img/attestation_championnat_internationnal_jeux_math_et_logique_2018.jpg" alt="Attestation du Championnat International des Jeux Mathématiques et Logiques en 2018" class="my-5 img-fluid">
      <img src="img/attestation_championnat_internationnal_jeux_math_et_logique_2014.jpg" alt="Attestation du Championnat International des Jeux Mathématiques et Logiques en 2014" class="my-5 img-fluid">
      <img src="img/attestation_championnat_internationnal_jeux_math_et_logique_2013.jpg" alt="Attestation du Championnat International des Jeux Mathématiques et Logiques en 2013" class="my-5 img-fluid">
    </div>

    {% include 'partials/footer.j2' %}
    {% include 'partials/js_scripts.j2' %}
  </body>
</html>